/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


:root{
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}

/* GENERAL */



*,
*::before,
*::after{
  
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


html{
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

a{
  text-decoration: none;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/rubik-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/rubik-v21-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/rubik-v21-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */

.site-main{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}




.wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

ul{
  list-style: none;
  padding: 0;
}

/* site header start */
.site-header {
  padding: 48px 0;
  
}
.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sitenav__list{
  margin: 0;
} 

.sitenav__item:nth-child(2) {
  margin-right: 48px;
  margin-left: 44px;
}
.sitenav__item:nth-child(3) {
  margin-right: 0px;
}
.sitenav__link {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  color: #242A45;
  
}
.sitenav__link:hover{
  color: #FA5959;
}
.site-header__link {
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  margin-left: 48px;
  padding: 11px 33px;
  background-color: #FA5959;
  -webkit-box-shadow: 0px 8px 8px -4px #495dcf33;
  box-shadow: 0px 8px 8px -4px #495dcf33;
  border: 2px solid transparent;
  border-radius: 5px;
}

.site-header__link:hover{
  color: #FA5959;
  background: #FFFFFF;
  border: 2px solid #FA5959;
  -webkit-box-shadow: 0px 8px 8px -4px #495dcf33;
  box-shadow: 0px 8px 8px -4px #495dcf33;
  border-radius: 5px;
}

/* hero section start */
.hero {
  padding: 100px 0;
  background-image: url("../image/computer.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 596px) ;
}
.hero__wrapper {
  width: 540px;
}
.hero__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 24px;
  letter-spacing: -0.15px;
  color: #242A45;
  
}
.hero__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 32px;
  color: #242A45;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  padding: 10px 24px;
}

.hero__link--chrome {
  margin-right: 18px;
  color: #FFFFFF;
  background-color: #5267DF;
  -webkit-box-shadow: 0px 8px 8px -4px #495dcf33;
  box-shadow: 0px 8px 8px -4px #495dcf33;
  border: 2px solid transparent;
  border-radius: 5px;
}
.hero__link--chrome:hover{
  color: #5267DF;
  background: #FFFFFF;
  border: 2px solid #5267DF;
  -webkit-box-shadow: 0px 8px 8px -4px #495dcf33;
  box-shadow: 0px 8px 8px -4px #495dcf33;
  border-radius: 5px;
}
.hero__link--firefox {
  color: #242A45;
  background-color: #F7F7F7;
  -webkit-box-shadow: 0px 8px 8px -4px #495dcf33;
  box-shadow: 0px 8px 8px -4px #495dcf33;
  border-radius: 5px;
  opacity: 0.75;
}
.hero__link--firefox:hover{
  color: #242A45;
  background-color: #FFFFFF;
  border: 2px solid #5B6074;
  -webkit-box-shadow: 0px 8px 8px -4px #495dcf33;
  box-shadow: 0px 8px 8px -4px #495dcf33;
  border-radius: 5px;
  opacity: 0.75;
}

/* Features section start */
.features-section {
  padding: 100px 0 180px 0;
  
}
.features-section__inner {
  width: 540px;
  margin: 0 auto;
}
.features-section__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  color: #242A45;
}
.features-section__desc {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 72px;
  color: #242A45;
  opacity: 0.5;
}
.features-section__list-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 730px;
  margin: 0 auto;
  margin-bottom: 129px;
  border-bottom: 1px solid #495dcf33;
}
.features-section__text {
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.533333px;
  color: #242A45;
  border-bottom: 4px solid transparent;
  opacity: 0.75;
}
.features-section__item-top{
padding-right: 54px;
padding-bottom: 31px;
padding-left: 53px;
}
.features-section__item-top--active{
  display: block;
  border-bottom: 4px solid #FA5959;

}

.features-section__text:hover{
  color: #FA5959;
}


.features-section__item{
  display: none;
  z-index: 10;
  background-image: url("../image/down-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 525px) center;
  padding: 105px 0 105px 0;
}

.features-section__item:nth-child(2){
  background-image: url("../image/search-bg.svg");
}
.features-section__item:nth-child(3){
  background-image: url("../image/network.svg");
}

.features-section__wrapper{
  width: 445px;
  margin-right: 0;
  margin-left: auto;
}

.features-section__item--activ{
  display: block;
}
.features-section__word {
  right: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.1px;
  color: #242A45;
}
.features-section__worddesc {
  font-size: 18px;
  line-height: 28px;  
  color: #242A45;
  margin-top: 0;
  margin-bottom: 32px;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.features-section__link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  padding: 10px 24px;
  background-color: #5267DF;
  -webkit-box-shadow: 0px 8px 8px -4px #495dcf33;
  box-shadow: 0px 8px 8px -4px #495dcf33;
  border-radius: 5px;
}

/* extension section start */
.extension-section {
  padding: 100px 0 132px 0;
}
.extension-section__inner {
  width: 540px;
  margin: 0 auto;
}
.extension-section__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.1px;
  color: #242A45;
}
.extension-section__desc {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #242A45;
  margin-top: 0;
  margin-bottom: 48px;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.extension-section__list {
  position: relative;
  width: 911px;
  margin: 0 auto;
}
.extension-section__item {
  position: relative;
  width: 280px;
  background: #FFFFFF;
  padding: 181px 24px 24px 24px;
  -webkit-box-shadow: 0px 10px 20px -5px #495dcf33;
  box-shadow: 0px 10px 20px -5px #495dcf33;
  border-radius: 15px;
  background-image: url("../image/line.svg");
  background-repeat: no-repeat;
  background-position: center calc(50% + 92px);
}
.extension-section__item::before{
  position: absolute;
  top: 49px;
  left: 50%;
  width: 102px;
  height: 100px;
  background-image: url("../image/chrome.svg");
  background-size: 102px 100px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  content: "";
}
.extension-section__item:nth-child(2):before{
  position: absolute;
  top: 49px;
  left: 50%;
  width: 102px;
  height: 100px;
  background-image: url("../image/firefox.svg");
  background-size: 102px 100px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  content: "";
}

.extension-section__item:nth-child(2){
  position: absolute;
  top: 40px;
  left: 314px;
}
.extension-section__item:nth-child(3){
  position: absolute;
  top: 80px;
  right: 0;
  
}

.extension-section__item:nth-child(3):before{
  position: absolute;
  top: 49px;
  left: 50%;
  width: 102px;
  height: 100px;
  background-image: url("../image/opera.svg");
  background-size: 102px 100px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  content: "";
}

.extension-section__word {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 6px;
  letter-spacing: 0.25px;
  color: #242A45;
}
.extension-section__worddesc {
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #242A45;
  margin-top: 0;
  margin-bottom: 60px;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.extension-section__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  padding: 10px 32px;
  color: #FFFFFF;
  background: #5267DF;
  -webkit-box-shadow: 0px 8px 8px -4px #495dcf33;
  box-shadow: 0px 8px 8px -4px #495dcf33;
  border: 2px solid transparent;
  border-radius: 5px;
}

.extension-section__link:hover{
  color: #5267DF;
  background-color: #FFFFFF;
  border: 2px solid #5267DF;
  -webkit-box-shadow: 0px 8px 8px -4px #495dcf33;
  box-shadow: 0px 8px 8px -4px #495dcf33;
  border-radius: 5px;
}


/* question section start */
.question-section {
  padding-top: 100px;
  padding-bottom: 149px;
}
.question-section__inner {
  width: 540px;
  margin: 0 auto;
}
.question-section__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.1px;
  color: #242A45;
}
.question-section__desc {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #242A45;
  margin-top: 0;
  margin-bottom: 58px;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.question-section__wrapper {
  width: 540px;
  margin: 0 auto;
}

.question-section__item {
  border-bottom: 1px solid #242a4526;
}
.question-section__item:nth-child(1) {
  border-top: 1px solid #242a4526;
}
.question-section__details {
  margin-top: 19px;
  margin-bottom: 13px;
}
.question-section__details[open] .question-section__summery::after {
  background-image: url("../image/to-up.svg");
  background-repeat: no-repeat;
  background-size: 16px 8px;
}
.question-section__summery {
  position: relative;
  list-style: none;
  font-size: 18px;
  line-height: 32px;
  color: #242A45;
}
.question-section__summery:hover{
  color: #FA5959;
}
.question-section__summery::after{
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 8px;
  background-image: url("../image/to-down.svg");
  background-repeat: no-repeat;
  background-size: 16px 8px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  content: "";
}

.question-section__innerdesc {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.15px;
  margin-top: 32px;
  margin-bottom: 29px;
  color: #242A45;
  opacity: 0.75;
}
.question-section__link {
  display: block;
  width: 114px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  margin: 0 auto;
  margin-top: 43px;
  padding: 10px 24px;
  color: #FFFFFF;
  background-color: #5267DF;
  -webkit-box-shadow: 0px 8px 8px -4px #495dcf33;
  box-shadow: 0px 8px 8px -4px #495dcf33;
  border-radius: 5px;
}

/* article section  start */
.site-article {
  padding-top: 58px;
  padding-bottom: 52px;
  background-color: #5267DF;
}
.site-article__inner {
  width: 423px;
  margin: 0 auto;
}
.site-article__desc {
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 24px;
  color: #FFFFFF;
}
.site-article__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.1px;
  margin-top: 0;
  margin-bottom: 36px;
  color: #FFFFFF;
}
.site-article__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.site-article__label{
  position: relative;
  width: 300px;
  margin-right: 16px;
  background-color: #FA5959;
  border-radius: 5px;
  
}
.site-article__input {
  width: 300px;
  padding: 10px 40px 10px 20px;
  background: #FFFFFF;
  border: 2px solid transparent;
  border-radius: 5px;
  
}
.site-article__input:not(:-moz-placeholder-shown):not(:focus):invalid{
  background-image: url("../image/error.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 128px);
  border: 2px solid #FA5959;
  
}
.site-article__input:not(:-ms-input-placeholder):not(:focus):invalid{
  background-image: url("../image/error.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 128px);
  border: 2px solid #FA5959;
  
}
.site-article__input:not(:placeholder-shown):not(:focus):invalid{
  background-image: url("../image/error.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 128px);
  border: 2px solid #FA5959;
  
}
.site-article__input:not(:-moz-placeholder-shown):not(:focus):invalid ~ .site-article__text{
  opacity: 1;
  
}
.site-article__input:not(:-ms-input-placeholder):not(:focus):invalid ~ .site-article__text{
  opacity: 1;
  
}
.site-article__input:not(:placeholder-shown):not(:focus):invalid ~ .site-article__text{
  opacity: 1;
}
.site-article__input::-webkit-input-placeholder{
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #242A45;
}
.site-article__input::-moz-placeholder{
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #242A45;
}
.site-article__input:-ms-input-placeholder{
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #242A45;
}
.site-article__input::-ms-input-placeholder{
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #242A45;
}
.site-article__input::placeholder{
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #242A45;
}
.site-article__text {
  position: absolute;
  top: 39px;
  left: 0;
  font-style: italic;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.25px;
  padding: 4px 89px 8px 12px;
  color: #FFFFFF;
  background-color: #FA5959;
  border-radius: 0 0 5px 5px;
  opacity: 0;
  
}
.site-article__btn {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  padding: 6px 24px;
  border: 2px solid transparent;
  color: #FFFFFF;
  background: #FA5959;
  -webkit-box-shadow: 0px 8px 8px -4px #495dcf33;
  box-shadow: 0px 8px 8px -4px #495dcf33;
  border-radius: 5px;
  box-shadow: 0px 8px 8px -4px #495dcf33;
  border-radius: 5px;
  
}

.site-article__btn:hover{
  color: #FA5959;
  background-color: #FFFFFF;
  border: 2px solid #FA5959;
}

/* site footer start */
.site-footer{
  padding-top: 32px;
  padding-bottom: 18px;
  background-color: #242A45;
}

.logo{
  margin-right: 65px;
}

.site-footer__social{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sitenav__link--white{
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  color: #FFFFFF;
}

.sitenav__link--white:hover{
  color: #FA5959;
}

.site-footer__sociallink{
  color: #FFFFFF;
}

.site-footer__sociallink:hover{
  color: #FA5959;
}

.site-footer__sociallink--facebook{
  margin-right: 40px;
}

.site-footer__img:hover{
  fill: #FA5959;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                -webkit-min-device-pixel-ratio: 2),
only screen and (                -o-min-device-pixel-ratio: 2/1),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  
  .hero{
    background-image: url("../image/computer@2x.png");
  }
}